@font-face {
    font-family: Lato;
    src: url("/images/Lato/Lato-Light.ttf") format("ttf");
}


$gradient-border: linear-gradient(to right bottom, goldenrod, darken(goldenrod, 40));
$red: lighten(red, 15);
